* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0px;
}

.container1 {
    display: flex;
    background-color: #1F2937;
    color: white;
    width: auto;
    height: 50px;
    justify-content: space-between;
}

.logo {
    margin-left: 45px;
    margin-top: 15px;
}

.links {
    margin-top: 15px;
    margin-right: 45px;
}

.container2 {
    display: flex;
    justify-content: space-around;
    width: auto;
    height: 200px;
    background-color: #1F2937;
}

.container2box1 {
    display: flex;
    flex-direction: column;
    margin-left: 65px;
    margin-top: 40px;

}

.container2box1 div {
    margin-bottom: 5px;
    width: 50%;
}

.bigFont {
    color: white;
    size: 30px;
    font-size: larger;
}

.smallFont{
    color: rgba(255, 255, 255, 0.464);
    width: auto;
    size: 5px;
    font-size: small;
}

.buttonFont {

}

.container2box2 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-right: 65px;
    margin-top: 40px;
    height: 100px;
    width: 200px;
    background-color: grey;
    color: white;
}

.container2box2 p {
    color: black;
    font-size: xx-small;
    margin-left: 10px;
    margin-right: 10px;
}

.container3 {
    width: auto;
    height: 200px;
    background-color: white;
}

.c3b1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-top: 10px;
}

.header {
    font-size: larger;
}

.c3b2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.s {
    margin-right: 10px;
}

.square {
    height: 30px;
    width: 30px;
    padding: 20px;
    border: 2px solid #1F2937;
    border-radius: 10px;
}

.subtext {
    margin-top: 5px;
    font-size: x-small;
    text-align: center;
}

.container4 {
    width: auto;
    height: 200px;
    background-color: grey;
}

.container5 {
    width: auto;
    height: 200px;
    background-color: white;
}