* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0px;
}

.container1 {
    display: flex;
    background-color: #1F2937;
    color: white;
    width: auto;
    height: 50px;
    justify-content: space-between;
}

.logo {
    margin-left: 45px;
    margin-top: 15px;
}

.links {
    margin-top: 15px;
    margin-right: 45px;
}

.container2 {
    display: flex;
    justify-content: center;
    width: auto;
    height: 200px;
    background-color: #1F2937;
}

.container2box1 {
    display: flex;
    flex-direction: column;
    margin-left: 65px;
    margin-top: 40px;

}

.container2box1 div {
    margin-bottom: 5px;
    width: 50%;
}

.bigFont {
    color: white;
    size: 30px;
    font-size: larger;
}

.smallFont{
    color: rgba(255, 255, 255, 0.464);
    width: auto;
    size: 5px;
    font-size: small;
}

.buttonFont {

}

.container2box2 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-right: 65px;
    margin-top: 40px;
    height: 100px;
    width: 200px;
    background-color: grey;
    border: 1px solid blanchedalmond;
    border-radius: 10px;
}

.container2box2 p {
    color: black;
    font-size: xx-small;
    margin-left: 15px;
    margin-right: 10px;
}

.container3 {
    width: auto;
    height: 200px;
    background-color: white;
}

.c3b1 {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.header {
    font-size: larger;
}

.c3b2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.s {
    margin-right: 10px;
}

.square {
    height: 30px;
    width: 30px;
    padding: 20px;
    border: 2px solid #4072b7;
    border-radius: 10px;
}

.subtext {
    margin-top: 5px;
    font-size: x-small;
    text-align: center;
}

.container4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 200px;
    background-color: grey;
}

.quote{
    width: 200px;
    align-self: center;
    text-align: center;
    padding: 10px;
}

.thor{
    width: 200px;
    align-self: center;
    text-align: right;
    font-size: x-small;
    font-weight: bolder;
}

.container5 {
    display: flex;
    justify-content: space-around;
    width: auto;
    height: 200px;
    background-color: white;
    color: white;
}

.rectangleBot {
    display: flex;
    justify-content: space-around;
    width: 450px;
    height: 100px;
    border-radius: 10px;
    background-color: #3882F6;
    margin: 50px;
}

.rectText{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.botText1{
    font-weight: 900;
    font-size: large;
    margin-bottom: 5px;
}

.botText2{
    font-weight: lighter;
    font-size: x-small;
    margin-left: 1px;
}

.button2{
    height: 20px;
    margin-top: 40px;
    margin-left: 10px;
}

.pageBottom{
    display: flex;
    justify-content: space-around;
    height: 40px;
    width: auto;
    background-color: #1F2937;
}

.copyright{
    text-align: center;
    color: white;
    font-size: xx-small;
    font-weight: 300;
    margin-top: 15px;
}